<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/img/icon/logo.ico"/>
    <title>系统管理</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body style="background-color: aliceblue;">

<div style="margin-top: 22%;    margin-left: 40%;">
    <button type="button" class="btn btn-default" onclick="toDept()">
        <i class="fa fa-edit"></i>
        <span class="tooltipp">部门管理</span>
    </button>
    <button type="button" class="btn btn-default">
        <i class="fa fa-edit"></i>
        <span class="tooltipp">角色管理</span>
    </button>
    <button type="button" class="btn btn-default">
        <i class="fa fa-edit"></i>
        <span class="tooltipp">菜单管理</span>
    </button>
</div>



</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script th:inline="javascript">

    function toDept() {
        location.href="/sys/dept/list";
    }


</script>
</html>